<a href="https://colab.research.google.com/github/riotamoriya/kaggle/blob/main/titanic20211117.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
from pathlib import Path

if 'google.colab' in sys.modules:  # colab環境
    INPUT = Path('/content/input/')
elif 'kaggle_web_client' in sys.modules:  # kaggle環境
    INPUT = Path('../input/')


from requests import get

name_notebook = get('http://172.28.0.2:9000/api/sessions').json()[0]['name']
print(name_notebook)


from google.colab import drive
drive.mount('/content/drive')

!mkdir -p ~/.kaggle
!cp /content/drive/MyDrive/Kaggle_emwa/kaggle.json ~/.kaggle
!pip install kaggle
!pip install --upgrade --force-reinstall --no-deps kaggle
!kaggle competitions list

titanic20211117.ipynb
Mounted at /content/drive
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 2.8 MB/s
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73051 sha256=ce5439dd2eed561417b3a10a6da98213fd1ee532f0e69fbefa3b5050620978f6
  Stored in directory: /root/.cache/pip/wheels/62/d6/58/5853130f941e75b2177d281eb7e44b4a98ed46dd155f556dc5
Successfully built kaggle
Installing collected packages: kaggle
  Attempting uninstall: kaggle
    Found existing installation: kaggle 1.5.12
    Uninstalling kaggle-1.5.12:
      Successfully uninstalled kaggle-1.5.12
Successfully installed kaggle-1.5.12
ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                   2030-07-01 23:59:00  Getting Started     Prizes         76           False
gan-getting-started                            2030-07-01 23:59:00  Getting Started     Prizes         77           False
store-sales-time-series-forecasting            2030-06-30 23:59:00  Getting Started  Knowledge        654           False
tpu-getting-started                            2030-06-03 23:59:00  Getting Started  Knowledge        133           False
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       1479           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      14585            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       4540           False
connectx                                       2030-01-01 00:00:00  Getting Started  Knowledge        259           False
nlp-getting-started                            2030-01-01 00:00:00  Getting Started  Knowledge       1135           False
competitive-data-science-predict-future-sales  2022-12-31 23:59:00  Playground           Kudos      12993           False
jigsaw-toxic-severity-rating                   2022-02-07 23:59:00  Featured           $50,000        347           False
g-research-crypto-forecasting                  2022-02-01 23:59:00  Featured          $125,000        564           False
petfinder-pawpularity-score                    2022-01-13 23:59:00  Research           $25,000       2118           False
santa-2021                                     2022-01-11 23:59:00  Featured           $25,000         58           False
optiver-realized-volatility-prediction         2022-01-10 23:59:00  Featured          $100,000       3852           False
nfl-big-data-bowl-2022                         2022-01-06 23:59:00  Analytics         $100,000          0           False
sartorius-cell-instance-segmentation           2021-12-30 23:59:00  Featured           $75,000        826           False
wikipedia-image-caption                        2021-12-09 11:59:00  Playground            Swag         83           False
lux-ai-2021                                    2021-12-06 23:59:00  Featured           $10,000       1031           False
tabular-playground-series-nov-2021             2021-11-30 23:59:00  Playground            Swag        920           False

In [2]:
!kaggle competitions download -c titanic
import zipfile
with zipfile.ZipFile('titanic.zip') as existing_zip:
    existing_zip.extractall('.')
!rm 'titanic.zip'

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 27.1MB/s]

In [3]:
import numpy as np
import pandas as pd

# 学習データ、テストデータの読み込み
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [4]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]